# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=cv2

[MESSAGES CONTROL]

disable=
    missing-docstring,
    missing-function-docstring,
    global-statement,
    global-variable-not-assigned

[FORMAT]
max-line-length=160

